h1 {
    font-family: Arial, sans-serif;
    color: rgb(136, 136, 136);
    text-align: center;
}

h2 {
    font-family: Arial, sans-serif;
    color: saddlebrown;
}

b {
    color: rgb(255, 0, 0);
}

i {
    color: rgb(154, 154, 238);
}

section{
    width: 800px;
}

p {
    text-align: justify;
    width: 100%;
}

img {
    width: 50%;
}

hr {
    width: 600px;
}